.text-box {
    padding: 5px 10px;
    background: rgba(255,255,255,0.75);
    color: #000;
    font-size: 12px;
    line-height: 18px;
    border-radius: 5px;
}

    .text-box:empty {
        display: none;
    }
