.text-box {
    padding: 5px 10px;
    background: rgba(255,255,255,0.75);
    color: #000;
    font-size: 12px;
    line-height: 18px;
    border-radius: 5px;
}

.text-box:empty {
    display: none;
}

#collectedButton {
    position:absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 400;
    opacity: 0.75;
}

#legendButton {
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    z-index: 400;
    opacity: 0.75;
}

.my-label {
    position: absolute;
    width: 1000px;
    font-size: 20px;
}